* {
    box-sizing: border-box;
  }

[class*="col-"] {
    position: relative;
    float: left;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    width:100%;
    display: grid;
    align-content: flex-start;
  }

body, html {
    height:100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    background-color: #dbdbdb;
    transition: 500ms;
    color:#F2F2F2
  }

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


.project{
    transition: 900ms;
}




.navIcons{
    transition: 400ms;
    font-variation-settings: 'FILL' 0 ;
    align-self: center;
}

.navIcons:hover{
    font-variation-settings: 'FILL' 1 ;
}

.rightIcons>*{
    transition: 400ms;
}

.rightIcons>*:hover{
    transform: scale(1.1);
}

.logoIcon{
    transition: 400ms;
    filter:saturate(0) brightness(0.5);
}

.logoIcon:hover{
    filter:saturate(1) brightness(1);
}

.logoIcon>*{
    height:29px;
}


.rightIcons{
    padding-right: 15px;
    position:absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3px;
    transition: 400ms;
}

.rightIcons>*{
    padding-left: 18px;
}


.material-symbols-rounded{
    font-size: 36px; 
}


.navbar{
    font-size: 20px;
    color:#121212;
    background-color: #F2F2F2E0;
    padding: 15px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 12;
    vertical-align: center;
}

.navLeft, .navRight{
    width: 100%;
}

.navLeft{
    display: flex;
    flex-direction: row;
    position: relative;
}

.navRight{
    padding-top: 15px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px;
}

.navTab{
    font-weight: 500;
    color:#F2F2F2;
    margin-right: 15px;
    height:30px;
    display: flex;
    justify-content: center;
    flex-grow: 1;

    filter:saturate(0);

    transition:700ms;
    cursor: pointer;
}

.selectedTab, .navTab:hover{
    flex-grow: 3;
    filter:saturate(1);
}

.navRight>div:nth-last-child(1){
    margin-right: 0px;
}

.navTitle{
    font-size: 24px;
    font-weight: 200;
    transition: 700ms;
}

.navTitle>a:link, .navTitle>a:visited{
    color: #121212;
    text-decoration: none;
}

.navTitle:hover{
    filter: drop-shadow(0 0 2px black);
    transform: scale(1.03);
}

.gradient{
    position: absolute;
    top:0;
    left:0;
    background-color: #8cffa0;
    width:100%;
    height:100%;
}

.awardsOver{
    position: absolute;
    top:0;
    right: 0;

    margin: 18px;
    margin-top: 3px;

    height: 21%;
    width: 21%;
    background: linear-gradient(-70deg, black 66%, #bbbbbb 66%, #bbbbbb 70%, black 70%, black 80%, #838383 80%, #535353 90%, black 90%);
    background-size: 400% 100%;
    background-position:-160%;
    
    /*background: -webkit-gradient(linear, left top, right top, color-stop(95%,rgba(255,0,0,1)), color-stop(96%,rgba(0,255,0,1)), color-stop(99%,rgba(0,0,255,1)), color-stop(100%,rgba(255,255,255,1)));*/
    
    -webkit-mask-image: url(https://raw.githubusercontent.com/Shin-WhetherWeather/WhetherWeather/main/Icons/gDesign-01.png);
    mask-image: url(https://raw.githubusercontent.com/Shin-WhetherWeather/WhetherWeather/main/Icons/gDesign-01.png);
    -webkit-mask-repeat: no-repeat;
    
    mask-repeat: no-repeat;  
    mask-size: 100%;
    mask-position: top right;
    mask-repeat: no-repeat;

    -webkit-mask-repeat: no-repeat;  
    -webkit-mask-size: 100%;
    -webkit-mask-position: top right;
    -webkit-mask-repeat: no-repeat;

    transition: 1600ms;
}


.company{
    position: absolute;
    top:0;
    left: 0;

    margin: 20px;
    margin-top: 18px;

    height: 14%;
    width: auto;
}

.awardsOver:hover{
    background-position:-80%;  
}



.awards{
    position: absolute;
    top:0;
    right:0;

    height:22%;
    width: 200px;

    margin: 18px;
    margin-top: 3px;

    transition: 400ms;

    background-color: #8cffa0;

    -webkit-mask-image: url(#gDesign);
    -webkit-mask-size: 100px 100px;
    mask-image: url(#gDesign);
    mask-size: 100px 100px;
}

.awardTop:before{
    content: '';
    position: absolute;
    top: 0;
    left: -300px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-30deg);
    transition: 0.3s;
}

.awardTop:hover:before {
    left: 250px;
    background: rgba(255, 255, 255, 0.2);
  }







.scroll{
    margin-top: 100px;
    width: 100%;
}

.row{
    width: 100%;
    padding: 0px;
    padding-bottom: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img{
    width: 100%;
}

.textBox{
    display:none;
    background-color: #121212;
}


.bodyTitle{
    padding-top: 15px;
    font-size: 6vw;
    font-weight: 500;
}

.bodyText{
    font-size: 2.5vw;
    font-weight: 300;
}

.bodyTags{
    padding-left: 0;
    padding-right: inherit;
    padding-top: inherit;
    padding-bottom: 15px;
    position: absolute;

    font-size: 2.5vw;
    font-weight: 500;

    top:0;
    right:0;
    display: flex;
    flex-direction: row;
}

.bodyTags>*{
    letter-spacing: 0px;
    color: #121212;
    margin-right: 0px;
    margin-left: 15px;
    padding: 4px;
    border: solid;
    border-color: salmon;
    border-width: 2px 5px;
    /* border-radius: 100vmax; */
    background-color: salmon;
    flex-grow: 1;
}

.imageWrapper{
    overflow: hidden; 
}

.projectPhoto{
    transition: 600ms;
}

.projectPhoto:hover{
    transform: scale(1.05);
}

@media only screen and (min-width: 700px) {
    .bodyTitle{
        font-size: 2.9vw;
    }
    .bodyText{
        font-size: 1.4vw;
    
    }
    .bodyTags{
        font-size: 1.4vw;
    }

}

@media only screen and (min-width: 1080px) {

    .scroll{
        margin-top: 60px;
    }

    .navLeft{
        display: flex;
        flex-direction: row;
        position: relative;
        float: left;
        width: 33.7%;
    }
    
    .navRight{
        padding-left: 15px;
        padding-top: 0px;
        position: relative;
        float: right;
        width: 66.3%;
    }



    .textBox{
        display:grid;
    }

    .rightIcons{
        padding-right: 0px;
    }

    [class*="col-"] {
        padding: 15px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 15px;
      }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .bodyTitle{
        font-size: 1.9vw;
    }
    .bodyText{
        font-size: 0.9vw;
    
    }
    .bodyTags{
        font-size: 0.9vw;
    }

    .row{
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 0px;
        display:flex;
    }

    .bodyTags{
        bottom: 0;
        left:0;
        right:auto;
        top:auto;
        margin-right: 12px;
        margin-left: 0px;
    }
  }



  